body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
.influencer{
    display: flex;
}
.half-width{
    width: 70%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.influencer .half-width img:hover{
    transform: scale(1.5);
    transition: transform 2s;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(gray, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 70px;
}

    /* collection style */

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    border-radius: 15px;
    width: 300px;
    
}
.section-title{
    display: grid;
    justify-content: center;
}
.influencer-gear{
    background-color: gainsboro;
    border: 5px solid grey;
    padding: 50px;
    margin-bottom: 30px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}.fa-star.empty{
    color: #AEAEAE;
}
.button{
    display: inline;
    color: red;
    float: right;
    text-decoration: none;
    width: 400px;
    margin-top: 3px;

}

/* footer style */

footer{
    color: white;
    text-align: center;
    background-color: grey;
}

